.root {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picture {
  width: 240px;
  height: 120px;
}

.nutrients {
  display: flex;
  max-width: 520px;
  width: 100%;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
  height: 56px;
  flex-grow: 1;
}
