.section {
  max-height: 912px;
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
}

.scrollArea {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: #8585ad #2f2f37;
  scrollbar-width: thin;
}

.scrollArea::-webkit-scrollbar {
  width: 12px;
}
.scrollArea::-webkit-scrollbar-track {
  background: #2f2f37;
}
.scrollArea::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: 3px solid #2f2f37;
  border-radius: 6px;
}

.cards {
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px 24px;
}
